.PlanetInfoBase {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 11, 9, 0.8);
  text-align: center;
  color: rgb(7, 5, 0);
}

.InnerBase {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 10%;
  bottom: 15%;
  border-radius: 20px;
  background-color: rgb(224, 171, 71);
}

.Row {
  flex-direction: row;
  display: flex;
}
.Image {
  width: 85%;
  height: 80%;
  border-radius: 50%;
}
.PlanetImage {
  width: 40px;
  height: 450px;
  flex: 1;
  align-content: center;
  justify-content: center;
  padding: 5px;
}

.PlanetDetail {
  padding: 3%;
  left: 10px;
  flex: 1;
  width: 40%;
  word-wrap: break-word;
  text-align: left;
  font-size: 18;
}

.Button {
  position: absolute;
  padding: 2px 5px;
  right: -2px;
  top: -2px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 10px;
}
