.SearchScreenBody {
  /* background-image: url('../../assets/images/Startwar_SearchCSreen.jpg'); */
  background-size: cover;
  height: 100vh;
  /* overflow: scroll; */
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100% !important; */
}
body > #root > div {
  height: 100vh;
}
.NavBarColor {
  background-color: rgb(184, 183, 183);
}

.Welcome {
  justify-content: 'center';
  align-items: 'center';
  color: rgb(221, 6, 88);
  /* flex: 1;
  width: '100%'; */
  /* background-color: aqua; */
}

.SearchScreenBase {
  margin: 20px 20%;
  /* background-color: aqua; */
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}
